html {
    --text: #ffffff;
    --background: #2130ff;
    --primary: #27c7e3;
    --secondary: #27c7e3;
    --accent: #bcbcbc;
}

 a:link {
      color: #27c7e3; /* Or any other color value like #0000FF, rgb(0,0,255) */
    }

 a:visited {
      color: #a4f1ff;
    }

h2 {
    border: solid var(--primary);
}

audio {
    border: solid var(--accent);
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Roboto"
}